
@{
    ViewBag.Title = "Shoes";
}

<h2>Only free shoes</h2>
<body style="background:gray">
    <div style="display:flex;flex-wrap:wrap;justify-content:space-between;">
        @{
            foreach (var item in Model)
            {
                if (item.IfDiscount == true)
                {
                    <article>
                        <h2 style="text-align:center;">@item.Company</h2>
                        <img style="width:350px;height:300px;" src="@item.LinkImage" />
                        <h3>Shoe Type: @item.ShoeType</h3>
                        <h3>Price: @( item.Price)<span style="color:red;border-bottom:2px solid red;margin-top:50px;">@item.Price</span></h3>
                        @*<h3>DISCOUNT: @item.IfDiscount</h3>*@
                    </article>
                }
            }
        }
    </div>
    @using (Html.BeginForm("Shoes", "SportShop"))
    {
        <button>Repeat To List >></button>
    }
</body>